<!DOCTYPE html>
<html>
  <head>
    <title>DeSean Ellis | Request Header Parser Microservice</title>
    <meta name="description" content="DeSean Ellis | Request Header Parser Microservice">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="header">
      <h1>
        Request Header Parser Microservice
      </h1>
    </div>

    <section>
      <div>
        This microservice returns information from the requester gathered from the request header of the HTTP packet sent to the server from your client device. The return format is JSON.
        <br />
        The service will return the IP address, default language, browser and operating system from your request.
      </div>
      <div>
        <h2>
          How to Use
        </h2>
        <p>
            Access the API via /api/whoami/
        </p>
        <code>
          https://massive-receipt.glitch.me/api/whoami/
        </code>
      </div>
    </section>

    <footer>
      <a href="https://www.freecodecamp.org/deseanellis" target="_blank">Developed by DeSean Ellis - Free Code Camp</a>
    </footer>

  </body>
</html>
